{:deps {:aliases [:dev :test]},
 :builds
 {:script
  {:target :node-script,
   :main atomist.main/handler,
   :output-to "index.js"},
  :release
  {:target :node-library,
   :output-to "index.js",
   :exports {:handler atomist.main/handler},
   :compiler-options {:optimizations :advanced}},
  :dev
  {:target :node-library,
   :exports {:handler atomist.main/handler}, 
   :output-to "index.js"}}}
