{:deps {:aliases [:dev :test]},
 :builds
 {:release
  {:target :node-library,
   :output-to "index.js",
   :exports {:handler atomist.main/handler},
   :compiler-options {:optimizations :advanced}},
  :dev
  {:target :node-library,
   :exports {:handler atomist.main/handler}, 
   :output-to "index.js"}
  :test
  {:target :node-test
   :output-to "tests.js"
   :ns-regexp "-t$"
   :autorun true}}}
