;; Copyright © 2020 Atomist, Inc.
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.

{:description
 "Track versions and keep your Leiningen dependencies up to date",
 :license "Apache-2.0",
 :resourceProviders
 [{:name "github",
   :description "GitHub",
   :typeName "GitHubAppResourceProvider",
   :minRequired 1,
   :maxAllowed 1}
  {:name "slack",
   :description "Slack",
   :typeName "SlackResourceProvider",
   :minRequired 0,
   :maxAllowed 1}],
 :displayName "Update Leiningen Dependencies",
 :name "update-leiningen-dependencies",
 :author "Atomist",
 :dispatch "single",
 :commands
 [{:name "ShowLeiningenDependencies",
   :description "summary of the leiningen dependencies",
   :pattern "^lein fingerprints.*$"}
  {:name "UpdateLeiningenDependency",
   :description "update one dependency",
   :pattern "^lein update.*$"}
  {:name "SyncLeiningenDependency",
   :description "sync dependencies for one Repository",
   :pattern "^lein sync.*$"}],
 :categories ["DEPENDENCIES" "SECURITY"],
 :iconUrl "https://leiningen.org/img/leiningen.jpg",
 :homepageUrl
 "https://github.com/atomist-skills/update-leiningen-dependencies-skill",
 :parameters
 [{:singleChoice
   {:description
    "Choose a policy for how target dependencies should be discovered by this skill",
    :displayName "Target Policy",
    :name "policy",
    :required true,
    :options
    [{:description
      "Use the latest semver version found within current set of Projects",
      :text "latest semver used",
      :value "latestSemVerUsed"}
     {:description "Use the latest semver available in clojars",
      :text "latest semver available",
      :value "latestSemVerAvailable"}
     {:description
      "Use the set of leiningen dependencies configured manually in this Skill",
      :text "manual",
      :value "manualConfiguration"}]}}
  {:string
   {:description "Manually Configured set of Lein dependencies",
    :displayName "Leiningen Library name",
    :name "dependencies",
    :lineStyle "multiple",
    :placeHolder "[[lib-symbol \"version\"]]",
    :required false}}
  {:repoFilter
   {:description
    "The set of Repositories for this String Replace rule.",
    :displayName "Repository Scope",
    :name "scope",
    :required false}}],
 :namespace "atomist",
 :artifacts
 {:gcf
  [{:name "package-cljs-skill",
    :entryPoint "eventhandler",
    :memory 512, 
    :runtime "nodejs10", 
    :timeout 60}]}}
