{:description
 "Automatically update dependencies based on your own policy",
 :category ["DEPENDENCIES" "DEV_EX"],
 :package {:use "atomist/package-cljs-skill"},
 :repository
 "https://github.com/atomist-skills/update-leiningen-dependencies-skill",
 :license "Apache-2.0",
 :resourceProviders
 [{:name "github",
   :description "GitHub",
   :typeName "GitHubAppResourceProvider",
   :minRequired 1,
   :maxAllowed 1}
  {:name "slack",
   :description "Slack",
   :typeName "SlackResourceProvider",
   :minRequired 0,
   :maxAllowed 1}],
 :homepage
 "https://github.com/atomist-skills/update-leiningen-dependencies-skill",
 :displayName "update leiningen dependencies skill",
 :name "atomist/update-leiningen-dependencies",
 :long_description
 "Track all versions of leiningens dependencies and allow users to set\ncross repo targets for dependency versions.\n",
 :icon "https://leiningen.org/img/leiningen.jpg",
 :title "Update Leiningen Dependencies",
 :author "Atomist",
 :dispatch "single",
 :commands
 [{:name "ShowLeiningenDependencies",
   :description "summary of the leiningen dependencies",
   :pattern "^lein fingerprints.*$"}
  {:name "UpdateLeiningenDependency",
   :description "update one dependency",
   :pattern "^lein update.*$"}
  {:name "SyncLeiningenDependency",
   :description "sync dependencies for one Repository",
   :pattern "^lein sync.*$"}],
 :iconUrl
 "https://raw.githubusercontent.com/cljs/logo/master/cljs.png",
 :runtime
 {:name "nodejs10",
  :entry_point "eventhandler",
  :memory 256,
  :timeout 60},
 :homepageUrl
 "https://github.com/atomist-skills/update-leiningen-dependencies-skill",
 :longDescription "This section supports markdown",
 :parameters
 [{:singleChoice
   {:description
    "Choose a policy for how target dependencies should be discovered by this skill",
    :displayName "Target Policy",
    :name "policy",
    :required true,
    :options
    [{:description
      "Use the latest semver version found within current set of Projects",
      :text "latest semver used",
      :value "latestSemVerUsed"}
     {:description "Use the latest semver available in clojars",
      :text "latest semver available",
      :value "latestSemVerAvailable"}
     {:description
      "Use the set of leiningen dependencies configured manually in this Skill",
      :text "manual",
      :value "manualConfiguration"}]}}
  {:string
   {:description "Manually Configured set of Lein dependencies",
    :displayName "Leiningen Library name",
    :name "dependencies",
    :lineStyle "multiple",
    :placeHolder "[[lib-symbol \"version\"]]",
    :required false}}
  {:repoFilter
   {:description
    "The set of Repositories for this String Replace rule.",
    :displayName "Repository Scope",
    :name "scope",
    :required false}}],
 :namespace "atomist",
 :artifacts
 [{:gcf
   {:name "package-cljs-skill",
    :entryPoint "eventhandler",
    :memory 512, 
    :runtime "nodejs10", 
    :timeout 60}}]}
